@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/src/assets/fonts/Poppins-Bold.ttf');
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #0D0D0D;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #C8BAA0;
    border-radius: 50px;
    cursor: pointer;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #1E1E1E;
    cursor: pointer;
    border-radius: 50px;
}
@keyframes scaleVertically {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(100%);
    }
}
@keyframes dropDown {
    0% {
        transform-origin: top;
        transform: translateY(-50%);
    }
    40% {
        rotate: 1deg;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
        rotate: 0deg;
    }
    70% {
        transform: translateY(0);
        rotate: -1deg;
    }
    80% {
        transform: translateY(-2%);
    }
    100% {
        rotate: 0deg;
        transform: translateY(0);
    }
}
